<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 80px;">
  <div class="col-8">
      <h3>Reset Password</h3><br>

    <p class="fnt-size">Please enter your email address to request a password reset.</p>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="form-group">
        <input type="submit" class="btn btn-info" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    <br>
    <div class="redirectToLogin">
      <span>Go back to  <button class="redirect btn btn-success" routerLink="/home">Log In</button></span>
    </div>

  </div>
</div>
