.container-fluid{
  min-height: 91vh;
}

.foot {
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  background-color: #041e42;
  color: white;
  margin: 0px;
  padding: 12px 0px;
  text-align: center;
  width: 100%;
  position: sticky;
}

.flex-dir{
  flex-direction: column;
}

@media screen and (max-width: 768px){
  .flex-dir{
    flex-direction: row;
  }
}
