<app-navbar></app-navbar>

<div class="container-fluid" style="margin-top: 60px">
  <div class="row">
    <!-- Sidebar navigation -->
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="SignOut()">
              Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h3 class="h3">User Profile</h3>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" >
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <h4>Hello {{userDetails.firstName}}</h4>
                <p>Email: <strong>{{userDetails.email}}</strong></p>
                <p>
                  <a routerLink="/change-password">Change Password</a>
                </p>

                <h6>Contatct Information</h6>

                <div><b>FirstName</b>:&nbsp;{{userDetails.firstName}}&nbsp;&nbsp;
                  <button #editFN class="btn btn-outline-danger" (click)="editClickFN()" value="firstName" style="height: 30px;padding:2px 12px">Edit</button>
                </div><br>
                <div *ngIf="update['firstName']" class="form-group">
                  <input type="text" class="form-control" name="firstName" placeholder="Enter New FirstName" style="margin-bottom: 5px; width: 500px" #newFirstName required>
                  <button class="btn btn-warning"  (click)="updateUserInfo('firstName', newFirstName.value)">Update</button>&nbsp;&nbsp;
                  <button class="btn btn-success" (click)="cancelClick()">Cancel</button>
                </div>

                <div><b>LastName</b>:&nbsp;{{userDetails.lastName}}&nbsp;&nbsp;
                  <button #editLN class="btn btn-outline-danger" (click)="editClickLN()" value="lastName" style="height: 30px;padding:2px 12px">Edit</button>
                </div><br>
                <div *ngIf="update['lastName']" class="form-group">
                  <input type="text" class="form-control" placeholder="Enter New LastName" style="margin-bottom: 5px; width: 500px" #newlastName required>
                  <button class="btn btn-warning" (click)="updateUserInfo('lastName', newlastName.value)" >Update</button>&nbsp;&nbsp;
                  <button class="btn btn-success" (click)="cancelClick()">Cancel</button>
                </div>

                <div><b>Phone</b>:&nbsp;<span *ngIf="userDetails.phone==' '">Not Available</span>
                  {{userDetails.phone}}&nbsp;&nbsp;
                  <button #editP class="btn btn-outline-danger" (click)="editClickP()" value="phone" style="height: 30px;padding:2px 12px">Edit</button>
                <div *ngIf="update['phone']" class="form-group">
                  <input type="tel" class="form-control" placeholder="Enter New Phone Number" style="margin-bottom: 5px; width: 500px" #newPhone required>
                  <button class="btn btn-warning" (click)="updateUserInfo('phone', newPhone.value)" >Update</button>&nbsp;&nbsp;
                  <button class="btn btn-success" (click)="cancelClick()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </main>

  </div>
</div>
<footer class="foot fixed-bottom">&copy; JAMMR 2020</footer>
