<app-navbar></app-navbar>

<div class="container-fluid" style="margin-top: 60px">
  <div class="row">
    <!-- Sidebar navigation -->
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" >
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <h1>Hello: {{userDetails.firstName}}</h1>
                <p>Email: <strong>{{userDetails.email}}</strong></p>
                <p>
                  <a routerLink="/change-password">Change Password</a>
                </p>

                <h5>Contatct Information</h5>
                <div><b>FirstName</b>:&nbsp;{{userDetails.firstName}}&nbsp;&nbsp;
                  <button class="btn btn-outline-danger">Edit</button>
                </div><br>
                <div><b>LastName</b>:&nbsp;{{userDetails.lastName}}&nbsp;&nbsp;
                  <a routerLink=#>Edit</a>
                </div><br>
                <div><b>Phone</b>:&nbsp;<span *ngIf="userDetails.phone==' '">Not Available</span>
                  {{userDetails.phone}}&nbsp;&nbsp;
                  <button class="btn btn-outline-danger">Edit</button></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
<footer class="foot">&copy; JAMMR 2020</footer>
