
<app-navbar></app-navbar>
<div class="container-fluid">

  <div class="row">
    <!-- Sidebar navigation -->
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-dir">
          <li class="nav-item">
            <button class="btn btn-link _af1ck1" (click)="goToUserProfile()" >
              User Profile
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link _af1ck1" (click)="goToMyListings()">
              My Listings
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link _af1ck1" (click)="goToMyFavorites()">
              My Favorites
            </button>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <button class="btn btn-link _af1ck1" (click)="SignOut()">
              Log out
            </button>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9">
      <div class="inner-adjust">
        <div *ngIf="update.userProfile" class="ml-sm-auto px-4"><app-user-profile></app-user-profile></div>
        <div *ngIf="update.myListings"><app-mylistings></app-mylistings></div>
        <div *ngIf="update.myFavorites"><app-myfavorites></app-myfavorites></div>
      </div>
    </main>

  </div>

</div>
<footer class="foot">&copy; JAMMR 2020</footer>

