<div *ngIf="routeURL=='search'" class="searchResult">
  <div>
    <a href="javascript:void(0);" routerLink="/dashboard">Dashboard</a>
     &nbsp; > &nbsp; Search
  </div>
  Search result for {{param.q}}
  <div *ngIf="prodLength==0" style="margin-top: 10px; color: #38424c;">
    <b>Try a new search</b><br>
    Change your search filters, check your spelling, or try a less specific search
  </div>
</div>
<div class="products" (window:resize)="onResize($event)" [(ngModel)]="product" ngDefaultControl>
    <div class="card" *ngFor="let r of product" >
      <div class="card-body">
        <div *ngIf="r.imageIds[0]!=undefined">
          <img src="{{url+r.imageIds[0]}}" class="cat-img">
        </div>
        <div>
          <h6 class="card-title h6-font">{{r.prodName}}</h6>
          <span class="card-text h6-font">Price: ${{r.prodPrice}} </span>
        </div>
      </div>
      <button routerLink="/product/{{r.prodId}}" class="btn btn-danger">Click to know more</button>
    </div>
</div>
