.products{
  padding: 27px;
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: min-content;
  grid-gap: 28px;
}

.card{
  box-shadow: 5px 0px 5px 0px #f7f7f9;
  width: 9em;
  height: 13.5rem;
}

.card-title{
  font-size: 18px;
  text-transform:capitalize;
  margin-bottom: 0;
}

.cat-img{
  width: 100%;
  height: 130px;
  margin-bottom: 5px;
}

.card-body{
  padding: 0px 0px 5px 0px;
}

.h6-font{
  font-size: 11px;
  padding: 0px 5px;
}

.btn{
  line-height: 1.2;
  font-size: 13.5px;
}

.searchResult{
  padding: 25px 30px 10px 30px;
  font-size: 20px;
  font-weight: bold;
  color: #358ED7;
}

.searchResult > div{
  font-weight: normal;
  margin-bottom: 20px;
  font-size: smaller;
}

.searchResult > div > a{
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .products{
    padding: 10px 30px 30px 30px;
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content;
    grid-column-gap: 25px;
  }
}

@media screen and (max-width: 950px) {
  .products{
    padding: 10px 30px 30px 30px;
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
    grid-column-gap: 25px;
  }
}

@media screen and (max-width: 700px) {
  .products{
    padding: 10px 30px 30px 30px;
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-column-gap: 25px;
  }
}

@media screen and (max-width: 550px) {
  .products{
    padding: 0px 0px 0px 0px;
    display: grid;
    margin: 10px 0px 30px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-gap: 20px;
  }

  .card{
    width: 100%;
    height: 12rem;
  }

  .card-body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
    padding: 0px 5px 0px 0px;
    margin-bottom: 0px;
  }

  .card-title{
    margin-bottom: 15px;
  }

  .cat-img{
    height: 152px;
    margin-bottom: 0px;
  }

  .h6-font{
    margin-top: 10px;
    font-size: 18px;
  }

  .btn{
    line-height: 1.8;
    font-size: 14px;
  }

}
