.grid-container {
  display: grid;
  grid-template-areas: "header" "wrapper" "footer";
  grid-template-rows: 4% 92% 4%;
  grid-template-columns: 1fr;
  /*height: 100vh;*/
}

.app-nav { grid-area: header; }

.foot {
  grid-area: footer;
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  background-color: #041e42;
  color: white;
  margin: 0;
  padding-top: 12px;
  text-align: center;
  /*min-width: 1450px;*/
}

/*.wrapper{
  grid-area: wrapper;
  !*min-width: 1450px;*!
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4% 59% 37%;
  !*margin-top: 50px;*!
  background-color: #f7f7f9;
  overflow: hidden;
}*/

.wrapper{
  grid-area: wrapper;
  /*min-width: 1450px;*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4% 96%;
  /*margin-top: 50px;*/
  background-color: #f7f7f9;
  overflow: hidden;
}

.welcome{
  margin: 20px 0px 25px 0px;
  padding-left: 30px
}

.grid-row{
  margin: 25px 30px 25px 30px;
  display: grid;
  /*grid-template-columns: 1fr;*/
  grid-template-rows: 20px 1fr;
  /*border-style: solid;*/
  /*border-color: #041e42;*/
  box-shadow: 10px 10px 5px 0px #f7f7f9;
  background-color: #ffffff;

}

.row1{
  padding: 20px 10px 15px 30px;
}

.grid-row2{
  margin: 0px 30px 10px 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.30fr 1.5fr;
  background-color: #ffffff
}

.row2{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 20px;
}

.row-cat{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 20px;
}

.card-title{
  font-size: 18px;
}

.cat-img{
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 550px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header" "wrapper" "footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 1fr;
    /*height: 100vh;*/
    overflow: hidden;
  }

  .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    background-color: #f7f7f9;
  }

  .welcome{
    margin-top: 20px;
    padding-left: 10px;
  }

  .grid-row{
    margin: 10px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /*border-style: solid;*/
    /*border-color: #041e42;*/
    box-shadow: 10px 10px 5px 0px #f7f7f9;
  }

  .grid-row2{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 3fr;
    background-color: #ffffff
  }

  .row2{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(1, 1fr);
    /*grid-gap: 5px;*/
  }

  /*.row-cat{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
    !*grid-gap: 5px;*!
  }*/

  .row1{
    padding: 0px 0px 0px 0px;
  }

}

.h6-font{
  font-size: small;
}
