.bg{
  background-color: #041e42;
}

.nav-link{
  color: #ffffff;
}

.btn-radius{
  border-radius: 40px;
}

.btn-color{
  background-color: #fc6c85;
}

.btn{
  width: 100%;
}

.dropdown-item{
  font-size: large;
}

.dropdown-item:hover{
  background-color: #041e42;
  color: #f7f7f9;
}

.ml{
  margin-left: 30%;
}
