<nav class="navbar navbar-expand-md navbar-dark bg fixed-top">
    <div *ngIf="!isLoggedIn; else loggedIn" class="navbar-collapse">
      <a class="navbar-brand" routerLink="/home">Pace Marketplace</a>
      <button class="navbar-toggler float-right" type="button" (click)="isCollapsed = !isCollapsed"
              data-target="#navbarsNotLoggedIn" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isCollapsed" class="navbar-collapse" id="navbarsNotLoggedIn">
        <ul class="navbar-nav ml-auto" routerLinkActive="active">
          <li class="nav-item"><button type="button" class="btn btn-outline-warning btn-block" routerLink="/about">About</button></li>
        </ul>
      </div>
    </div>
    <ng-template #loggedIn>
        <a class="navbar-brand" routerLink="/dashboard">Pace Marketplace</a>
        <button class="navbar-toggler float-right" type="button" (click)="isCollapsed = !isCollapsed"
                data-target="#navbarsLoggedIn" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarsLoggedIn">
        <ul class="navbar-nav ml-auto" routerLinkActive="active">
          <li class="nav-item mr-3"><button type="button" class="btn btn-outline-warning btn-block" routerLink="/dashboard">Dashboard</button></li>
          <li class="nav-item mr-3">
            <button type="button" class="btn btn-outline-danger btn-block" (click)="openAboutModal()">
              <svg viewBox="0 0 24 20" width="25" height="18" fill="currentColor">
                <path d="M2.42846768,22 C1.08726202,22 1.95109522e-15,20.912738 0,19.5715323 L2.22044605e-15,
                          6.2342711 C2.02636193e-15,4.64945399 1.28474811,3.36470588 2.86956522,3.36470588 L5.51618709,
                          3.36470588 C5.65836719,3.36470588 5.79414308,3.30557627 5.8909904,3.20148124 L8.14918225,
                          0.774293983 C8.60859995,0.280495021 9.25268443,4.12069996e-15 9.92714869,3.99680289e-15 L14.5945904,
                          0 C15.2690547,-1.23897075e-16 15.9131392,0.280495021 16.3725569,0.774293983 L18.6307487,
                          3.20148124 C18.727596,3.30557627 18.8633719,3.36470588 19.005552,3.36470588 L21.3913043,
                          3.36470588 C22.8320472,3.36470588 24,4.53265871 24,5.97340153 L24,19.5715323 C24,20.912738 22.912738,
                          22 21.5715323,22 L2.42846768,22 Z M12.1250066,18.4380777 C15.5333924,18.4380777 18.2964351,
                          15.6971542 18.2964351,12.3160538 C18.2964351,8.93495346 15.5333924,6.19403004 12.1250066,
                          6.19403004 C8.71662068,6.19403004 5.95357799,8.93495346 5.95357799,12.3160538 C5.95357799,
                          15.6971542 8.71662068,18.4380777 12.1250066,18.4380777 Z">
                </path>
                <circle cx="12.2000122" cy="12.3500061" r="3.75"></circle></svg>
              Sell &nbsp; </button></li>
          <li class="nav-item mr-3 dropdown btn-group">
            <button type="button" class="btn btn-outline-warning btn-block dropdown-toggle" id="myAccountMenu"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg class="bi bi-person-lines-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm7 1.5a.5.5 0 01.5-.5h2a.5.5 0 010 1h-2a.5.5 0 01-.5-.5zm-2-3a.5.5 0 01.5-.5h4a.5.5 0 010 1h-4a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h4a.5.5 0 010 1h-4a.5.5 0 01-.5-.5zm2 9a.5.5 0 01.5-.5h2a.5.5 0 010 1h-2a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
              </svg> &nbsp;
            My Account
            </button>
            <div class="dropdown-menu list-group-item-danger" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item dropdown-menu-left btn-danger" routerLink="/myaccount">
                <svg class="bi bi-person" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
                </svg>&nbsp;
                Profile
              </button>
              <button class="dropdown-item" (click)="SignOut()">
                <svg class="bi bi-power" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 104.922.044l.5-.866a6 6 0 11-5.908-.053l.486.875z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" clip-rule="evenodd"/>
                </svg>
                Logout
              </button>
            </div>
          </li>
          <li class="nav-item mr-3"><button type="button" class="btn btn-outline-danger btn-block" routerLink="/about">About</button></li>
        </ul>
      </div>
    </ng-template>
</nav>


<!--
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Home</a>
  &lt;!&ndash;<button class="btn btn-success ml-auto mr-1">Always Show</button>&ndash;&gt;
  <button class="ml-auto mr-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
    <ul class="navbar-nav text-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Right Link 1</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Right Link 2</a>
      </li>
    </ul>
  </div>
</nav>-->
