<div class="main">
  <div>
    <app-navbar></app-navbar>
  </div>

  <div>
    <div class="container-fluid" >
      <br>
      <div class="row">
        <!-- Left Column for Image -->
        <div class="col-sm-5">

          <div class="row" style="margin-bottom: 30px" #bigpicture>
              <img data-image="1" class="left-col-img"
                   [src]="currImg" alt="" #currImage>
          </div>

          <div class="row text-center" style="margin: 10px" #thumbnails>
            <div class="img-thumbnail"
                 *ngFor="let i of img">
                  <img data-image="1" [src]="i" alt="" class="text-center"
                       style="width:75px;height:75px;margin: 0;border-style: solid;border-color: #86989B"
                       (click)="showImage(i)">
            </div>
          </div>
        </div>

        <!-- Right Column -->
        <div class="col-sm-7">

          <!-- Product Description -->
          <div class="product-description">
            <span>
<!--              <a [routerLink]="['/browse/', productData.categoryName]" [queryParams]="{id: productData.categoryId}">-->
              {{productData.categoryName}}
              <!--</a>-->
            </span><br>
            <h5 style="text-transform: capitalize">{{productData.name}}</h5>

            <!-- Product Pricing -->
            <div class="product-price">
              <span>${{productData.price}}</span>
            </div>
            <br>
            <span style="color:black; ">Description:</span>
            <p>
              <span *ngIf="productData.description==''"
                    style="color: black; font-family:Calibri, sans-serif;text-transform: capitalize;font-size:18px ">
              Description not available</span>
              {{productData.description}}</p>
          </div>

          <div *ngIf="userDetails.id==productData.userId; else elseTemplate">
            <button class="btn btn-danger" (click)="removeProduct()">Delete</button>
          </div>
          <ng-template #elseTemplate>
            <div><button class="btn btn-warning" (click)="sendEmailToSeller()" [disabled]="enableMsg">Click to contact the seller &nbsp;
              <span *ngIf="spin==true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
            </div>
            <!--<div *ngIf="spin==true" class="spinner-border text-danger" role="status">
              <span class="sr-only">Sending Email to the seller</span>&lt;!&ndash; THis is for accessibility&ndash;&gt;
            </div>-->
            <br>

            <div *ngIf="enableMsg==true" class="msg">
              <p>Email has been sent to the seller regarding your interest.</p>
              <p>Hold back and sit tight for a response from user. Keep checking your email.</p>
            </div>

          </ng-template>

          <!--<button class="btn btn-warning" (click)="sendEmailToSeller()">Click to contact the seller</button>-->
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row-cols-1">
    <footer class="foot">&copy; JAMMR 2020</footer>
  </div>
</div>
