.foot {
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  background-color: #041e42;
  color: white;
  margin: 0;
  padding: 12px 0px;
  text-align: center;
}

/* Product Description */
.product-description {
  /*border-bottom: 1px solid #E1E8EE;*/
  margin-bottom: 50px;
  margin-right:70px;
}
.product-description span {
  font-size: 16px;
  color: #358ED7;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.main{
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  margin: 0;
  min-height: 100vh;
  /*overflow: hidden;*/
}

.product-description h5 {
  font-weight: 300;
  font-size: 34px;
  color: #43484D;
  letter-spacing: -2px;
  margin-top: 15px;
}
.product-description p {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  line-height: 24px;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 500;
  color: #dc3545;
  margin-right: 20px;
}

.left-col-img{
  width:70%;
  padding-left: 70px;
  height:400px
}

.msg{
  width: 60%;
  box-shadow: 15px 10px 15px 10px #f7f7f9;
  border-radius: 10px;
  border-color: #86989B;
  padding: 10px;
  font-size: 22px;
}

.btn{
  font-size: 20px;
  border-radius: 10px;
}

.img-thumbnail{
  height:80px;
  margin:10px;
  padding:0;
}

@media screen and (max-width: 600px) {
  .container-fluid{
    display: block;
  }
  .left-col img {
    width: 100%;
  }
  .product-description{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .product-description h5 {
    font-size: 24px;
    letter-spacing: 0px;
  }
}
