<div class="main">
  <div>
    <app-navbar></app-navbar>
  </div>

  <div>
    <div class="container-fluid" >
      <br>
      <div class="row">
        <!-- Left Column for Image -->
        <div class="col-sm-5">

          <div class="row" style="margin-bottom: 30px" #bigpicture>
              <img data-image="1" class="left-col-img"
                   [src]="currImg" alt="" #currImage>
          </div>

          <div class="row text-center" #thumbnails>
            <div class="col-sm-1 text-center" style="height:80px;margin:20px;padding:0"
                 *ngFor="let i of img">
                  <img data-image="1" [src]="i" alt="" class="text-center"
                       style="width:75px;height:75px;margin: 0;border-style: solid;border-color: #86989B"
                       (click)="showImage(i)">
            </div>

          </div>

        </div>



        <!-- Right Column -->
        <div class="col-sm-7">

          <!-- Product Description -->
          <div class="product-description">
            <span>Headphones</span><br>
            <h5>{{productData.name}}</h5>

            <!-- Product Pricing -->
            <div class="product-price">
              <span>${{productData.price}}</span>
            </div>
            <br>
            <span style="color:black; ">Description:</span>
            <p>{{productData.description}}</p>
          </div>

          <div *ngIf="userDetails.id==productData.userId; else elseTemplate">
            <button class="btn btn-danger" (click)="removeProduct()">Delete</button>
          </div>
          <ng-template #elseTemplate>
            <button class="btn btn-warning" (click)="sendEmailToSeller()">Click to contact the seller</button>
          </ng-template>
        </div>
      </div>

    </div>
  </div>

  <div class="row-cols-1">
    <footer class="foot">&copy; JAMMR 2020</footer>
  </div>
</div>
