.item1 { grid-area: header; }

.item2 {
  grid-area: left;
  padding-top: 20px;
  margin-top: 0;
  margin-left: 80px;
}

.vertical{
  border-left: 1px solid black;
  margin-top: 0;
}

.item3 {
  grid-area: right;
  padding-top: 20px;
  margin-top: 0;
  margin-left: 80px;
}

.footer {
  grid-area: footer;
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  background: #041e42;
  color: white;
  margin: 0;
  padding-top: 5px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas: "header header header" "left vertical right" "footer footer footer";
  grid-template-rows: 8% 1fr 7%;
  grid-template-columns: 0.9fr 0.5% 1fr;
  height: 100vh;
}

@media screen and (max-width: 700px){
  .grid-container {
    display: grid;
    grid-template-areas: "header" "left" "vertical" "right" "footer";
    grid-template-rows: 8% 0.9fr 0.5% 1fr 7%;
    grid-template-columns: 1fr;
  }
  .vertical{
    border-bottom: 1px solid black;
    /*border-left-style: dashed;*/
  }
  .item2,.item3{
    margin-left: 5px;
    margin-bottom: 20px;
  }
}
