
  <div class="bg">
    <div class="_f5jpa">
          <div class="_f5jpd navbar">
            <ul class="_ulack1" routerLinkActive="active">
              <li class="_liack1" *ngFor="let cat of categories">
                <button type="button" class="btn-lg btn-success btn-block _af5ck1 _af1ck1"
                        [routerLink]="['/browse/', cat.name]" [queryParams]="{id: cat.id}">
                  {{cat.name}}
                </button>
              </li>
            </ul>
          </div>
      </div>
    </div>

