.bg{
  background-color: white;
  min-height: 60px;
  display: inline-block;
  border-radius: 10px;
}

a{
  text-decoration: none;
  color: white;
  font-family: Lato,sans-serif
}

.cat{
  margin: auto;
}

._f5jpa{
  /*margin: auto;*/
  padding: 12px 0px;
}

._f5jpb{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

._f5jpd{
  padding: 0px;
}

._ulack1{
  padding: 0px;
  list-style: none;
}

._af1ck1{
  padding: 0px;
  margin: 5px 20px 5px 20px;
  line-height: 23px;
  font-variant-caps: small-caps;
  text-align: left;
  color: midnightblue;
  text-decoration: none;
  opacity: 0.7;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  font-size: 13px;
}

._af1ck1:hover {
  opacity: 1;
}

._af1ck1:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ea0046;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

._af1ck1:hover:before, ._af1ck1:focus:before, ._af1ck1:active:before {
  left: 0;
  right: 0;
}

.dropdownmenu{
  display: none;
}

@media screen and (max-width: 700px) {
  .bg{
    background-color: #ea0046;
    min-height: 0px;
  }

  .btn-dark{
    border-style: none none solid none;
    background-color: #041e42;
    border-color: #EA0046;
  }

  ._ulack1>li{
    display: none;
  }

  .dropdownmenu{
    display: inline-block;
    width: 100%;
  }

  .btn-width, ._f5jpd, ._f5jpa, .bg{
    width: 100%;
  }

  ._f5jpa{
    padding: 0px
  }

}
