<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 80px;">
  <div class="col-8">
    <h3>Change Password</h3><br>

    <p class="fnt-size">Please enter your email address to request a password change.</p>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Enter New Password" #newPassword required>
    </div>

    <!-- Calling ForgotPassword from AuthService Api -->
    <div class="form-group">
      <input type="submit" class="btn btn-danger" value="Save" (click)="ChangePassword(newPassword.value)">
      &nbsp;&nbsp;
      <input type="submit" class="btn btn-warning" value="Go Back" routerLink="/myaccount">
    </div>


    <br>


  </div>
</div>
