.form-container{
  border: 1px solid white;
  padding: 30px 40px;
  margin-top: 10vh;
  -webkit-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
}

.fnt-size{
  font-size: 24px;
  font-weight: bolder;
  font-style: oblique;
}

@media screen and (max-width: 700px){
  .form-container{
    border: 1px solid white;
    padding: 20px 20px;
    margin-top: 10px;
    -webkit-box-shadow: 3px 10px 23px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 10px 23px -15px rgba(0,0,0,0.75);
    box-shadow: 3px 10px 23px -15px rgba(0,0,0,0.75);
  }
  .fnt-size{
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bolder;
  }
}
