<div class="container">
  <p class="fnt-size">Already have an account?</p>
  <div class="form-container col-10">
    <h4>Sign In</h4>
    <form [formGroup]="loginForm" (ngSubmit)='onSubmitLogin()'>
      <div class="form-group ">
        <input type="text" formControlName="email" class="form-control" placeholder="Email"
               [ngClass]="{ 'is-invalid':(submitted && formVal.email.errors) }">
        <div *ngIf="submitted && formVal.email.errors" class="invalid-feedback">
          <div *ngIf="formVal.email.errors.required">Email is required</div>
          <div *ngIf="formVal.email.errors.email">Enter valid email address</div>
        </div>
      </div>

      <div class="form-group">
        <input type="password" formControlName="password" class="form-control" placeholder="Password"
               [ngClass]="{ 'is-invalid': (submitted && formVal.password.errors) }" placeholder="Password"/>
        <div *ngIf="submitted && formVal.password.errors" class="invalid-feedback">
          <div *ngIf="formVal.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="err-msg">{{errorMessage}}</div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-success">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Log In
        </button>
      </div>
    </form>
    <div class="forgotPassword">
      <b>Forgot Password? &nbsp;</b><a routerLink="/forgot-password">Click here</a>
    </div>



  </div>
</div>
