.container-fluid{
  height: 84vh;
}

.foot {
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  background-color: #041e42;
  color: white;
  margin: 0;
  padding: 12px 0px;
  text-align: center;
}
