.grid-container {
  display: grid;
  grid-template-areas: "header" "wrapper" "footer";
  grid-template-rows: 56px 1fr 60px;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.app-nav { grid-area: header; }

.cat {
  grid-area: cat;
  margin: 0px 0px 25px 5px;
  box-shadow: 10px 10px 5px 0px #f7f7f9;
  min-width: 190px;
  background-color: #ffffff;
}

.foot {
  grid-area: footer;
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  background-color: #041e42;
  color: white;
  margin: 0;
  padding-top: 12px;
  text-align: center;
  /*min-width: 1450px;*/
}

.wrapper{
  grid-area: wrapper;
  /*min-width: 1450px;*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "welcome" "grid-row" "grid-row";
  /*grid-template-rows: 3% 9% 88%;*/
  /*margin-top: 50px;*/
  background-color: #f7f7f9;
}

.welcome{
  grid-area: welcome;
  margin: 0px;
  padding: 20px 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #EA0046;
  color: white;
  /*position: fixed;*/
  /*z-index: 1000;*/
  width: 100%;
  max-height: 120px;
}

.grid-row{
  grid-area: grid-row;
  margin: 0px;
  display: grid;
  /*grid-template-columns: 1fr;*/
  grid-template-rows: 1fr;
  /*border-style: solid;*/
  /*border-color: #041e42;*/
  box-shadow: 10px 10px 5px 0px #f7f7f9;
  background-color: #ffffff;
  min-height: 350px;
}

@media screen and (max-width: 700px) {
  .wrapper{
    display: block;
  }

  .cat{
    background-color: #ea0046;
    margin: 0px;
    border-radius: 0%;
  }

  .grid-row{
    margin: 0px;
    /*border-style: solid;*/
    /*border-color: #041e42;*/
    box-shadow: 10px 10px 5px 0px #f7f7f9;
  }
}

@media screen and (max-width: 550px){

  .search{
    margin-top: 16px;
    padding: 0px;
  }

  .welcome{
    margin-top: 0px;
    padding: 20px 0px 0px 0px;
    flex-flow: column;
    margin-bottom: 0px;
    background-color: #EA0046;
    color: white;
  }

}
